@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
:root{
    --dark-blue: hsl(233, 26%, 24%);
    --dark:#000;
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --color-title: #001A49;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    scroll-behavior: smooth;

}

.text-justify {
    text-align: justify;
}

.container{
    width: 100%;
    padding: 2rem 2.5rem;
    overflow: hidden;
}

/* *********************/
/* seccion I N I C I O */
/* *********************/

.inicio {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/fondo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.contenido-header {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.contenido-header h1 {
    text-align: center;
    color: #ff5080;
}

.contenido-header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

.contenido-header nav ul li#welcome{
    color: #fff;
    font-weight: 700;
    border-right: 1px solid #f3f3f3;
    font-size: 12px;
    margin-left: 1rem,;
}

.contenido-header nav ul li a:hover {
    color: #ff5080;
}

.contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

.contenido-header .redes a:hover {
    color: #ff5080;
}

.contenido-header .seleccionado {
    color: #ff5080;
}

.contenido-header .list__item{
    position: relative;
}

.contenido-header .list__show{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    padding: 13px 0;
    position: absolute;
    transform-origin: 50% 0;
    transform: scaleY(0) translateZ(0);
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.contenido-header .list__item:hover .list__show {
    transform: scaleY(1) translateZ(0);
    opacity: 1;
}

.contenido-header .nav__link--inside{ 
    width: 100%;
    font-size: 0.8rem;
}

.contenido-header .nav__link--inside:hover{
    color: #ff5080;
}

.presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

.presentacion h2 span {
    font-size: 25px;
    color: #ff5080;
}

.presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

.presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.presentacion a:hover {
    background-color: #ff5080;
}

#icono-nav {
    color: #fff;
    display: none;
}

/* *********************/
/* seccion S O B R E  M I */
/* *********************/

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 350px;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #ff5080;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #ff5080;
    color: #fff;
}
/* *********************/
/* seccion S E R V I C I O S */
/* *********************/

.servicios {
    text-align: center;
    background-color: var(--very-light-gray);
}

.servicios .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
    padding-top: 2rem;
}

.servicios .fila .servicio {
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

.servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

.servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

.servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
}
/* *********************/
/* seccion S K I L L S */
/* *********************/

.contenedor-skills {
    background: linear-gradient( #eb5a5acc, rgba(33, 16, 16, 0.8)), url("../img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}

.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.contenedor-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 100%;
    height: 6px;
    animation: progreso1 2s forwards;
    -webkit-animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
} 

.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso3 2s forwards;
    -webkit-animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 80%;
    height: 6px;
    animation: progreso4 2s forwards;
    -webkit-animation: progreso4 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso5 {
    background-color: #fff;
    width: 70%;
    height: 6px;
    animation: progreso5 2s forwards;
    -webkit-animation: progreso5 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso6{
    background-color: #fff;
    width: 60%;
    height: 6px;
    animation: progreso6 2s forwards;
    -webkit-animation: progreso6 2s forwards;
}       

@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

@keyframes progreso5 {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

@keyframes progreso5 {
    0% {
        width: 0;
    }
    100% {
        width: 60%;
    }
}

/* *********************/
/* seccion P O R T F O L I O */
/* *********************/

#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .fila .proyecto {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portfolio .fila .proyecto img {
    cursor: zoom-in;
    width: 100%;
    height: auto;
    filter: grayscale(1);
    object-fit: cover;
    object-position: top;
    transition: .5s;
}

#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    /*  position: absolute; */
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff5080;
    width: 100%;
    height: 100%;
    padding: 7px;
    opacity: 0;
    bottom: -40px;
    font-size: 12px;
    text-align: center;
    opacity: 1;
    bottom: 0;
    transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

#portfolio .fila .proyecto .info a {
    text-decoration: none;
    display: block;
    margin: 12px auto;
    padding: 7px 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    width: 85px;
    font-size: 12px;
    font-size: 12px;            
}

#portfolio .fila .proyecto .info p {
    margin-top: 1rem;           
}

#portfolio .fila .proyecto .info a:hover {
    background-color: #ff5080;
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
    -webkit-transition: transform .3s .2s;
    -moz-transition: transform .3s .2s;
    -ms-transition: transform .3s .2s;
    -o-transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.show{
    transform: translate(0);
    z-index: 1;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

.close{
    position: absolute;
    top: 11%;
    right: 16%;
    width: 40px;
    cursor: pointer;
    transition: all ease-in-out 0.5;
    -webkit-transition: all ease-in-out 0.5;
    -moz-transition: all ease-in-out 0.5;
    -ms-transition: all ease-in-out 0.5;
    -o-transition: all ease-in-out 0.5;
}

.close:hover {
    opacity: 0.4;
}

/* *********************/
/* seccion C O N T A C T O */
/* *********************/

#contacto {
    display: flex;
    justify-content: space-around;
    padding: 50px 27px;
    background-color: #f3f3f3;
    gap: 40px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

#contacto .contenedor-form {
    max-width: 900px;
    margin: 0px 20px 0px 20px;
    width: 100%;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form .mitad input {
    width: 50%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    margin-bottom: 25px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #919191;
    margin-bottom: 15px;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    background: #dfd6d6;
    max-width: 500px;
    padding: 20px;
    align-items: center;
    justify-content: center;    
}

.contacto-info ul>li {
    list-style: none; 
    line-height: 2.5;
}

.contacto-info h4 {
    margin-bottom: 25px;
}

.contacto-info p {
    text-align: center;
    margin-top: 25px;
}

.form-control input:focus {
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71 !important;
}

.form-control.error input {
	border-color: #e74c3c !important;
}

.form-control i {
	visibility: hidden;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71 !important;
	visibility: visible !important;
    margin-bottom: 15px !important;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c !important;
	visibility: visible !important;
    margin-left: -15px;
}

.form-control small {
	color: #e74c3c;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

#divLoading{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254,254,255, .65);
	z-index: 9999;
	display: none;
}
#divLoading img{
	width: 50px;
	height: 50px;
}

/* *******************************/
/* seccion Págína Softrans */
/* *******************************/

.hero_softrans {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    align-items: center;
    gap: 20px; /* Espacio entre las columnas */
    padding: 20px; /* Ajusta el padding si es necesario */
    height: 100vh;
    margin: auto;
    color: #fff;
}

.text_content {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos de texto */
}

.text_content h2 {
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
}

.text_content .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 1.3rem;
    text-align: center;
}

.hero_figure {
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: .5s;
}

.hero__img {
    cursor: zoom-in;
    max-width: 100%;
    height: auto;
}

.button_medium {
    text-decoration: solid;
    display: inline-block;
    margin: 0 auto;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
} 

.button_medium:hover {
    background-color: #ff5080;
}

/* *****************/
/* Sección Módulos */
/* *****************/
.modules{
    background-color: var(--very-light-gray);
    text-align: center;
}

.modules .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.modules__paragraph{
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 4em;
    color: var(--dark);
    padding-top: 1.3rem;
}

.modules__services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3em;
    margin: 0 auto;    
}

.modules__card {
    background-color: #edebeb;
    padding: 30px;
    flex: 1 1 calc(33.333% - 2em); /* Ajusta el tamaño para tres tarjetas por fila */
    box-sizing: border-box; /* Asegura que el padding y border no afecten el tamaño de la tarjeta */
    max-width: calc(33.333% - 2em); /* Limita el ancho máximo de la tarjeta */
    border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.modules__card:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.modules__icon {
    display: block;
    margin: 0 auto;
    width: 20%;
}

.modules__title{
    margin: 1em 0;
    color: var(--dark-blue);
    font-weight: 400;
    font-weight: bold;
}

.modules__description{
    line-height: 1.5;
    color: var(--dark);
}


/* ************************************/
/* Sección Por qué escoger a Softrans */
/* ************************************/
.whySoftrans{
    background-color: var(--very-light-gray);
    text-align: center;
}

.whySoftrans .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.whySoftrans__paragraph{
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 4em;
    color: var(--dark);
    padding-top: 1.3rem;
}

.whySoftrans__services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3em;
    margin: 0 auto;    
}

.whySoftrans__card {
    background-color: #edebeb;
    padding: 30px;
    flex: 1 1 calc(33.333% - 2em); /* Ajusta el tamaño para tres tarjetas por fila */
    box-sizing: border-box; /* Asegura que el padding y border no afecten el tamaño de la tarjeta */
    max-width: calc(33.333% - 2em); /* Limita el ancho máximo de la tarjeta */
    border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.whySoftrans__card:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.whySoftrans__icon{
    display: block;
    margin: 0 auto;
    width: 25%;
}

.whySoftrans__title{
    margin: 1em 0;
    color: var(--dark-blue);
    font-weight: 400;
    font-weight: bold;
}

.whySoftrans__description{
    line-height: 1.5;
    color: var(--dark);
}

/* *********************************/
/* Sección Para quién es softrans? */
/* *********************************/
.forWhom {
    text-align: center;
    background-color: var(--very-light-gray); 
}

.forWhom .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.forWhom__paragraph {
    text-align: center;
    margin: 2rem 0;
    line-height: 1.7;
    color: var(--dark);
    padding-top: 1rem;
}

.forWhom__services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3em;
    overflow: hidden;
    margin: 0 auto;
    /* padding: 30px; */
}

.forWhom__card {   
    flex: 1 1 calc(33.333% - 2em);
    background-color: var(--light-grayish-blue);
    padding: 30px;
    border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.forWhom__card:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.forWhom__title {
    margin: 1em 0;
    color: var(--dark-blue);
    font-weight: bold;
}

.forWhom__description{
    line-height: 1.5;
    color: var(--dark);
}

.forWhom__icon {
    padding: 1rem;
    width: 30%;
}

/* ******************************/
/* Sección Preguntas frecuentes */
/* ******************************/

.questions{
    text-align: center;
}

.title__section{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.questions__paragraph{
    text-align: center;
    margin: 2rem 0;
    line-height: 1.7;
    color: var(--dark);
    padding-top: 1rem;
}


.questions__container{
    display: grid;
    gap: 2em;
    padding: 3rem 9rem;   
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px; 
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

.questions__copy{
    padding: 2rem;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.questions__offer {
    padding: 2rem 0;
}

.questions__offer .questions__offer__cta {
    display: inline-block;
    background-color: #ff5080;;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 32px;
    transition: .5s;
}

.questions__offer .questions__offer__cta:hover {
    opacity: 0.6;
}

/* *****************************/
/* seccion R E S P O N S I V E */
/* *****************************/

@media screen and (max-width: 1007px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }

    .contenido-header .list__show {
        left: 50%;
        height: auto;
    }

    #icono-nav {
        display: block;
    }    
}

@media screen and (max-width: 800px) {
    
    .presentacion h2 {
        font-size: 40px;
    }
    .presentacion .descripcion {
        font-size: 15px;
        padding: 0 15px
    }
    /* seccion SOBRE MI */
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto {
        max-width: 350px;
        margin: auto;
        overflow-x: hidden;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    /* seccion MIS SERVICIOS */
    .servicios {
        padding: 50px 15px;
    }
    .servicios .fila {
        display: block;                
    }
    .servicios .fila .servicio {
        margin: 10px auto;
    }
    /* seccion HABLIDADES MI */
    .contenedor-skills {
        padding: 50px 20px;
    }
    /* seccion PORTFOLIO */
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
        padding: 0 1rem;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    /* seccion CONTACTO */
    #contacto {
        flex-direction: column;
        padding: 30px 63px;
        width: auto;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
    .contacto-info {
        max-width: max-content;        
    }

    .hero_softrans {
        grid-template-columns: 1fr;
        padding: 60px;
    }

    .text_content {
        gap: 0;      
    }

    .text_content h2 {
      font-size: 1.6rem;      
    }

    .text_content .descripcion {
        font-size: 1.2rem;
        margin: 10px auto;
    }       

    .hero_figure img {
        max-width: 70%;
    }

    .button_medium {
        margin: 15px auto; 
        padding: 15px 15px; 
    }

    .whySoftrans__services {
        gap: 1em;
    }

    .whySoftrans__card {
        flex: 1 1 calc(50% - 1.7em);
        max-width: calc(50% - 1.7em);
    }

    .forWhom__services {
        gap: 1em;
    }

    .forWhom .forWhom__services .forWhom__card {
        flex: 1 1 calc(50% - 1.7em);
        max-width: calc(50% - 1.7em);
    }

    .modules__services {
        gap: 1.5em;
    }

    .modules .modules__services .modules__card {
        flex: 1 1 calc(100% - 1.7em);
        max-width: calc(100% - 1.7em);
    }

    .modules__icon {
        width: 13%;
    }

    .questions__container {
       padding: 2rem;
    }

    .questions__copy {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    .inicio {
        height: 90vh;
    }

    .contacto-info {
        font-size: 12px;
    }

    .hero_softrans {
        grid-template-columns: 1fr;
        padding: 30px;
    }

    .text_content {
        margin-bottom: -11rem;     
    }

    .text_content h2 {
      font-size: 1.3rem;      
    }

    .text_content .descripcion {
     font-size: 1rem;
     margin: 5px auto;
    }

    .modules__paragraph, .modules__description {
       font-size: 0.8rem;
    }

    .whySoftrans__paragraph, .whySoftrans__description {
      font-size: 0.8rem;
    }

    .whySoftrans__card {
      flex: 1 1 calc(100% - 1.7em);
      max-width: calc(100% - 1.7em);
    }

    .forWhom__paragraph, .
     {
        font-size: 0.8rem;
    }

    .forWhom__services {
        gap: 1em;
    }

    .forWhom .forWhom__services .forWhom__card {
        flex: 1 1 calc(100% - 1.7em);
        max-width: calc(100% - 1.7em);
    }

    .questions__container {
       padding: 1rem;
    }

    .questions__title, .questions__show, .questions__copy {
        font-size: 14px;
    }

    .questions__paragraph {
      font-size: 0.8rem;
    }

}

@media screen and (max-width: 400px) {

    .presentacion {
        height: 110vh;
    }

    .questions__copy {
        text-align: justify;
        padding: 1rem 0.5rem;
        margin: 15px auto;
    }
}